.release
.debug
.cache
.vim
build
/.vs
/.vscode
/out
/out/build
/build
/utils/.venv
CMakeSettings.json
/thirdparty/vcpkg
/sandbox.ini
compile_commands.json
/.ccls-cache
/.idea
/cmake-build-*
cmake/open-cpp-coverage.cmake
cmake-build-*/
/bin
/CMakeFiles
/lib
/sphinx_docs/xml
/sphinx_docs/docs
conan/
prefix/
CMakeLists.txt.user
CMakeUserPresets.json
conanbuildinfo.txt
conaninfo.txt
graph_info.json
prod.env
poetry.lock
conan.lock
lab/
data/
